body {
    background-color: white;
    font-family: 'Fira Sans', sans-serif;

}

header {
   display:flex;
   justify-content: space-between;
   padding: 60px;
    border-bottom:5px solid peachpuff;
    background-color: olive;
    flex-wrap:wrap;
}

h1 {

   font-size:xx-large;
   color: peachpuff;
   text-align: center;
}

.paraone {
    font-weight: bolder;
}

nav {
    display:flex;
    background-color: orange;
}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: solid;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    font-size:medium;
    font-weight: light;
}

aside {
    
    padding-right: 10px;
}

section {
    border-left:3px solid black;
    padding: 0px 0px 0px 10px;
    
}

#avatarPic {
    position: relative;
    height: 250px;
    width: 250px;
}



@media screen and (max-width:992px) {
    
}

@media screen and (max-width: 768px) {
    body {
        background-color:peachpuff;
        color:black;
    }
    h1 {
        color:black;
    }
}

@media screen and (max-width: 576px) {
    body {
        background-color: white;
        color: black;
    }
    h1 {
        color:black
    }

}