body {
    background-color: olive;


}

h1 {
   font-family:Arial, Helvetica, sans-serif;
   font-size: xx-large;
   color: peachpuff;

}

ul {
    list-style-type:none;
    float:left;
    margin:0;
    padding:0;

}

li {
    display:inline;
}



@media screen and (max-width:992px) {
    
}

@media screen and (max-width: 768px) {
    body {
        background-color:peachpuff;
        color:black;
    }
    h1 {
        color:black;
    }
}

@media screen and (max-width: 576px) {
    body {
        background-color: white;
        color: black;
    }
    h1 {
        color:black
    }

}