html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Fira Sans', sans-serif;

}

#bigtop {
   display:flex;
   justify-content: space-between;
   padding: 15px;
    border-bottom:5px solid peachpuff;
    background-color: rgb(36, 90, 3);
    flex-wrap:wrap;
}

h1 {

   font-size:xx-large;
   color: white;
   text-align: center;
}

#parazero {
    font-weight:bolder;
    color:white;
}

nav {
    display:flex;
    background-color: rgb(151, 184, 143);
}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: solid;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    font-size:medium;
    font-weight: light;
}

#aboutMe {
    flex: 1;
    padding-right: 10px;
}

.background {
    flex: 3;
    padding-left:10px;  
    flex-wrap: wrap;
}

#projects {
    flex: 1;
    padding-right: 10px;
}

.works {
    flex-wrap: wrap;
    flex: 3;
    padding-left:290px;
}

#avatarPic {
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.gallery {
    flex:wrap;
    flex-wrap: wrap;
}


#project {
    text-align: center;
    height: 500px;
    width: 300px;

}

#project:hover {
    border: 5px solid rgb(207, 203, 203);

}

#morty {
    height:275px;
    width: 185px;
}
#morty:hover {
    border: 5px solid rgb(207, 203, 203);
}


footer {
    background-color:rgb(36, 90, 3);
    color: white;
    padding:10px;
    justify-content: space-between;
    display:flex;
    flex-wrap: wrap;
    border-top:5px solid peachpuff;

    
}

@media screen and (max-width:992px) {
    
}

@media screen and (max-width: 768px) {
    body {
        background-color:peachpuff;
        color:black;
    }
    #bigtop {
        color:black;
        background-color: #1B7F7A;     
    }
    footer {
        background-color:#1B7F7A;
    }
}

@media screen and (max-width: 576px) {
    body {
        background-color: white;
        color: black;
    }
    #bigtop {
        background-color: #0897b4;
        color:black
    }
    #reachme {
        background-color: #0897b4;
    }

}